@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#root {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@layer components {
    .app-bg {
        @apply dark:bg-gray-dark bg-white text-black dark:text-white;
    }

    .input {
        @apply read-only:text-gray focus:border-success h-[50px] border-2 px-3 text-black read-only:cursor-default focus:outline-none focus:ring-0;
    }

    .select {
        @apply focus:border-success h-[50px] border-2 text-black focus:outline-none focus:ring-0;
    }

    .input-error {
        @apply border-error focus:border-error focus:outline-none focus:ring-0;
    }

    .checkbox {
        @apply focus:border-success dark:text-primary h-6 w-6 border-2 text-black focus:outline-none focus:ring-0;
    }

    .textarea {
        @apply focus:border-success border-2 px-3 text-black focus:outline-none focus:ring-0;
    }

    .chip {
        @apply bg-black px-3 text-center text-xs text-white focus:outline-none;
    }

    .chip-dark {
        @apply bg-white text-black;
    }

    .chip-active {
        @apply bg-primary text-black;
    }

    .btn {
        @apply border-gray disabled:text-gray border bg-white p-4 text-center text-sm leading-[110%] text-black shadow-[0_4px_4px_rgba(0,0,0,0.25)] focus:outline-none active:shadow-none md:text-base;
    }

    .btn-black {
        @apply border-black bg-black text-white;
    }

    .btn-primary {
        @apply border-primary bg-primary;
    }

    .btn-small {
        @apply px-2 py-1 text-xs leading-[110%];
    }

    .link {
        @apply text-sm leading-[110%] md:text-base;
    }

    .text {
        @apply text-sm leading-[110%] md:text-base;
    }

    .text-small {
        @apply text-xs leading-[110%];
    }

    .text-h1 {
        @apply text-2xl leading-[110%] md:text-3xl;
    }

    .text-h2 {
        @apply text-xl leading-[110%] md:text-2xl;
    }

    .outlined-icon-light path {
        @apply stroke-black;
    }

    .outlined-icon-dark path {
        @apply stroke-white;
    }

    .icon-light path {
        @apply fill-black;
    }

    .icon-dark path {
        @apply fill-white;
    }

    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
    }
}
