server {
    listen                  80;
    server_name             localhost;
    root                    /etc/nginx/html;

    location /stat/health/ready {
        return 200;
    }

    location /stat/health/alive {
        return 200;
    }

    location /stat/version {
        try_files /version.json =404;
    }

    location /api {
        proxy_set_header X-Real-IP ${ESC}remote_addr;
        proxy_set_header X-Forwarded-For ${ESC}proxy_add_x_forwarded_for;
        proxy_set_header Host ${ESC}http_host;
        proxy_set_header X-NginX-Proxy true;
        proxy_pass ${VITE_ILP_BACKEND_ENDPOINT};
        proxy_redirect off;
    }

    location / {
        try_files           ${ESC}uri ${ESC}uri/ /index.html;
        add_header X-Robots-Tag "noindex, follow" always;
    }
}